= button_to "Fill checklist", new_project_path, method: :get, class: 'mdl-button mdl-js-button mdl-button--raised btn-margin'

%table.left-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th.left-data-table__cell--non-numeric Project
      %th Checklist
      %th Updated
      %th Question
      %th Actions
  %tbody
    - @forms.each do |form|
      - form.projects.each do |project|
        %tr
          %td= project.title
          %td= project.form.name
          %td= project.form.updated_at.strftime("%Y-%m-%d")


