.nested-fields
  .box-input
    = f.input :title, placeholder: 'Question text?', label: false
    = f.input :description, placeholder: 'Question detailed description', label: false
  .box-button
    = link_to_remove_association button_tag('remove', class: "material-icons"), f, class: 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect'