= link_to button_tag('arrow_back', class: "material-icons arrow_back"), checklists_path, data: { confirm: "Are you sure? All chenges will be lost " }
= render partial: "form", locals: { checklist: @checklist }