.mdl-layout-title-row
  = link_to 'Checklists', root_path
%nav.mdl-navigation-row
  .mdl-navigation__link
    = link_to 'Filled checklists', root_path
    = link_to 'Configure checklists', new_checklist_path